.bpm-chart-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bpm-title {
  color: red;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.bpm-bar {
  fill: #ff2d2d;
}

.bpm-line {
  stroke: #000000;
  fill: none;
}

.bpm-dot {
  fill: #2d3eff;
  r: 5;
}

