.header {
  width: 100%;
  background: transparent;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
  height: 60px;
  border-radius: 40px;
  padding: 0 30px;
}

.header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s;
}

.header a.active {
  color: blue;
}

.logout {
  color: #2d3eff;
  cursor: pointer;
  font-weight: 500;
}