@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.login-page {
  display: flex;
  height: 100vh;
}

.login-left {
  width: 35%;
  background-color: #f4f6fb;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  width: 180px;
  height: auto;
  margin-bottom: 40px;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 350px;
  justify-content: center;
}

.login-card h2 {
  color: #3b5bff;
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
}

.connect {
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-card label {
  font-family: Inter;
  font-size: 14px;
  color: #707070;
  font-weight: 400;
}

.login-card input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  margin-top: 15px;
  padding: 12px;
  background-color: #3b5bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.login-card button:disabled {
  opacity: 0.6;
}

.forgot {
  margin-top: 15px;
  font-size: 12px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.error {
  color: red;
  margin-top: 10px;
}

.login-right {
  width: 65%;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
}
