@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.profile-page {
  background: #f4f6fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

body {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.header nav {
  display: flex;
  gap: 20px;
}

.logout {
  color: blue;
}

.main {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-card {
  display: flex;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.user-card img {
  width: 80px;
  border-radius: 10px;
}

.profile-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.right {
  flex: 1;
}

.date {
  color: gray;
  margin-bottom: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stat-card {
  background: #2d3eff;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}